<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CamClaim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CamClaimPro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CamClaimTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>410650B01B70502900BBA41C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410650CC1B70502900BBA41C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>411FAFEE1B750EDD000060FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>419C9FD31B8972480036174D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41D82ABC1B833AC00035801B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
