<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Facebook</string>
		<key>description</key>
		<string></string>
		<key>imgName</key>
		<string>facebook_login</string>
		<key>cellid</key>
		<string>facebook</string>
		<key>showArrow</key>
		<false/>
		<key>cellName</key>
		<string>BindingCell</string>
		<key>cellHeight</key>
		<integer>52</integer>
		<key>selectorForJump</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wechat</string>
		<key>description</key>
		<string></string>
		<key>imgName</key>
		<string>wechat_login</string>
		<key>cellid</key>
		<string>wechat</string>
		<key>showArrow</key>
		<false/>
		<key>cellName</key>
		<string>BindingCell</string>
		<key>cellHeight</key>
		<integer>52</integer>
		<key>selectorForJump</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>LinkedIn</string>
		<key>description</key>
		<string></string>
		<key>imgName</key>
		<string>linkedin_login</string>
		<key>cellid</key>
		<string>linkedin</string>
		<key>showArrow</key>
		<false/>
		<key>cellName</key>
		<string>BindingCell</string>
		<key>cellHeight</key>
		<integer>52</integer>
		<key>selectorForJump</key>
		<string></string>
	</dict>
</array>
</plist>
