<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Dashboard</string>
		<key>titleKey</key>
		<string>home</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_home</string>
		<key>New item</key>
		<string></string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string></string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle00</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Join</string>
		<key>titleKey</key>
		<string>join</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_join</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToCompanyVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle01</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Report</string>
		<key>titleKey</key>
		<string>report</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_report</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToReportVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle02</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Save Option</string>
		<key>titleKey</key>
		<string>cloud</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_cloud</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToCloudVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle03</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Notice Board</string>
		<key>titleKey</key>
		<string>notice</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_notice</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToNoticeVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle04</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Setting</string>
		<key>titleKey</key>
		<string>setting</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>iocn_setting</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToSettingVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle05</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Invitation</string>
		<key>titleKey</key>
		<string>share</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_share</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>showShareView</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle06</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Version</string>
		<key>titleKey</key>
		<string>version</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_version</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToVersionVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle07</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Logout</string>
		<key>titleKey</key>
		<string>logout</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_logout</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToLogout</string>
		<key>canJump</key>
		<false/>
		<key>cellKey</key>
		<string>kMenuTitle08</string>
	</dict>
</array>
</plist>
