<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>交通</string>
		<key>type</key>
		<string>0</string>
		<key>content</key>
		<string></string>
		<key>imgName</key>
		<string>icon_claim_car</string>
		<key>key</key>
		<string>type_traffic</string>
	</dict>
	<dict>
		<key>title</key>
		<string>膳食</string>
		<key>type</key>
		<string>1</string>
		<key>content</key>
		<string></string>
		<key>imgName</key>
		<string>icon_claim_food</string>
		<key>key</key>
		<string>type_meal</string>
	</dict>
	<dict>
		<key>title</key>
		<string>住宿</string>
		<key>type</key>
		<string>2</string>
		<key>content</key>
		<string></string>
		<key>imgName</key>
		<string>icon_claim_hotel</string>
		<key>key</key>
		<string>type_hotel</string>
	</dict>
	<dict>
		<key>title</key>
		<string>禮物</string>
		<key>type</key>
		<string>3</string>
		<key>content</key>
		<string></string>
		<key>imgName</key>
		<string>icon_claim_gift</string>
		<key>key</key>
		<string>type_gift</string>
	</dict>
	<dict>
		<key>title</key>
		<string>工具</string>
		<key>type</key>
		<string>4</string>
		<key>content</key>
		<string></string>
		<key>imgName</key>
		<string>icon_claim_tool</string>
		<key>key</key>
		<string>type_tool</string>
	</dict>
	<dict>
		<key>title</key>
		<string>文儀用品</string>
		<key>type</key>
		<string>5</string>
		<key>content</key>
		<string></string>
		<key>imgName</key>
		<string>icon_claim_show</string>
		<key>key</key>
		<string>type_office</string>
	</dict>
	<dict>
		<key>title</key>
		<string>雜項開支</string>
		<key>type</key>
		<string>6</string>
		<key>content</key>
		<string></string>
		<key>imgName</key>
		<string>icon_claim_other</string>
		<key>key</key>
		<string>type_other</string>
	</dict>
</array>
</plist>
