<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>Upload Avatar</string>
			<key>description</key>
			<string></string>
			<key>showArrow</key>
			<false/>
			<key>cellName</key>
			<string>UserAvatarCell</string>
			<key>cellHeight</key>
			<integer>72</integer>
			<key>selectorForJump</key>
			<string>uploadUserAvatar</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>Real Name</string>
			<key>description</key>
			<string></string>
			<key>showArrow</key>
			<false/>
			<key>cellName</key>
			<string>UserInfoCell</string>
			<key>cellHeight</key>
			<integer>52</integer>
			<key>selectorForJump</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>E-mail</string>
			<key>description</key>
			<string></string>
			<key>showArrow</key>
			<false/>
			<key>cellName</key>
			<string>UserInfoCell</string>
			<key>cellHeight</key>
			<integer>52</integer>
			<key>selectorForJump</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Phone</string>
			<key>description</key>
			<string></string>
			<key>showArrow</key>
			<false/>
			<key>cellName</key>
			<string>UserInfoCell</string>
			<key>cellHeight</key>
			<integer>52</integer>
			<key>selectorForJump</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>Department</string>
			<key>description</key>
			<string></string>
			<key>showArrow</key>
			<false/>
			<key>cellName</key>
			<string>UserInfoCell</string>
			<key>cellHeight</key>
			<integer>52</integer>
			<key>selectorForJump</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Position</string>
			<key>description</key>
			<string></string>
			<key>showArrow</key>
			<false/>
			<key>cellName</key>
			<string>UserInfoCell</string>
			<key>cellHeight</key>
			<integer>52</integer>
			<key>selectorForJump</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>Setting</string>
			<key>description</key>
			<string></string>
			<key>showArrow</key>
			<true/>
			<key>cellName</key>
			<string>UserInfoCell</string>
			<key>cellHeight</key>
			<integer>52</integer>
			<key>selectorForJump</key>
			<string>jumpSettingVC</string>
		</dict>
	</array>
</array>
</plist>
