<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Home</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_menu00</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string></string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle00</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Capture</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_menu01</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToCameraVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle01</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Summary Report</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_menu02</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToReportVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle02</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Cloud Setting</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_menu03</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToCloudVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle03</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Record</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_menu04</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToRecordVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle04</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Schedule Tips</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_menu05</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string></string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle05</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Personal Information</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_menu06</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string></string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle06</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Notice Board</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_menu07</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string></string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle07</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Information</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_menu08</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string></string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle08</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Suggestions And Complains</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_menu09</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string></string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle09</string>
	</dict>
</array>
</plist>
