<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Common Problem</string>
		<key>description</key>
		<string></string>
		<key>content</key>
		<string></string>
		<key>img</key>
		<string></string>
		<key>selectorForJump</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Use Teaching</string>
		<key>description</key>
		<string></string>
		<key>content</key>
		<string></string>
		<key>img</key>
		<string></string>
		<key>selectorForJump</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Terms And Conditions</string>
		<key>description</key>
		<string></string>
		<key>content</key>
		<string></string>
		<key>img</key>
		<string></string>
		<key>selectorForJump</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Privacy Policy</string>
		<key>description</key>
		<string></string>
		<key>content</key>
		<string></string>
		<key>img</key>
		<string></string>
		<key>selectorForJump</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Version Data</string>
		<key>description</key>
		<string></string>
		<key>content</key>
		<string></string>
		<key>img</key>
		<string></string>
		<key>selectorForJump</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Language</string>
		<key>description</key>
		<string></string>
		<key>content</key>
		<string></string>
		<key>img</key>
		<string></string>
		<key>selectorForJump</key>
		<string></string>
	</dict>
</array>
</plist>
