<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>Real Name</string>
			<key>description</key>
			<string>realname_</string>
			<key>imgName</key>
			<string>icon_user_real</string>
			<key>cellid</key>
			<string>realname</string>
			<key>showArrow</key>
			<false/>
			<key>cellName</key>
			<string>UserInfoCell</string>
			<key>cellHeight</key>
			<integer>52</integer>
			<key>selectorForJump</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Nickname</string>
			<key>description</key>
			<string>nickname_</string>
			<key>imgName</key>
			<string>icon_user_nick</string>
			<key>cellid</key>
			<string>nickname</string>
			<key>showArrow</key>
			<false/>
			<key>cellName</key>
			<string>UserInfoCell</string>
			<key>cellHeight</key>
			<integer>52</integer>
			<key>selectorForJump</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>E-mail</string>
			<key>description</key>
			<string>email_</string>
			<key>imgName</key>
			<string>icon_user_email</string>
			<key>cellid</key>
			<string>email</string>
			<key>showArrow</key>
			<false/>
			<key>cellName</key>
			<string>UserInfoCell</string>
			<key>cellHeight</key>
			<integer>52</integer>
			<key>selectorForJump</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Phone</string>
			<key>description</key>
			<string>phone_</string>
			<key>imgName</key>
			<string>icon_user_phone</string>
			<key>cellid</key>
			<string>phone</string>
			<key>showArrow</key>
			<false/>
			<key>cellName</key>
			<string>UserInfoCell</string>
			<key>cellHeight</key>
			<integer>52</integer>
			<key>selectorForJump</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>Department</string>
			<key>description</key>
			<string>department_</string>
			<key>imgName</key>
			<string>icon_user_department</string>
			<key>cellid</key>
			<string>department</string>
			<key>showArrow</key>
			<false/>
			<key>cellName</key>
			<string>UserInfoCell</string>
			<key>cellHeight</key>
			<integer>52</integer>
			<key>selectorForJump</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Position</string>
			<key>description</key>
			<string>position_</string>
			<key>imgName</key>
			<string>icon_user_position</string>
			<key>cellid</key>
			<string>position</string>
			<key>showArrow</key>
			<false/>
			<key>cellName</key>
			<string>UserInfoCell</string>
			<key>cellHeight</key>
			<integer>52</integer>
			<key>selectorForJump</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
