<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Home</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_home</string>
		<key>New item</key>
		<string></string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string></string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle00</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Capture</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_camera_</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToCameraVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle01</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Summary Report</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_report</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToReportVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle02</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Cloud Setting</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_cloud</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToCloudVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle03</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>New Record</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_record</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToRecordVC</string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle04</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Schedule Tips</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_schedule</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string></string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle05</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Notice Board</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_notice</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string></string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle06</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Join Company</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_join</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string></string>
		<key>canJump</key>
		<true/>
		<key>cellKey</key>
		<string>kMenuTitle07</string>
	</dict>
	<dict>
		<key>idForCell</key>
		<string></string>
		<key>title</key>
		<string>Logout</string>
		<key>content</key>
		<string></string>
		<key>imageName</key>
		<string>icon_logout</string>
		<key>cellHeight</key>
		<integer>46</integer>
		<key>selectorForJump</key>
		<string>jumpToLogout</string>
		<key>canJump</key>
		<false/>
		<key>cellKey</key>
		<string>kMenuTitle08</string>
	</dict>
</array>
</plist>
